{{ define "layout" }}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
	<div class="rsc-container" style="text-align:center;">
		<header>
			<div class="rsc-border-top rsc-border-bar"></div>
			{{ template "header" . }}
		</header>

        {{ template "content" . }}

		<footer class="rsc-border-bottom rsc-border-bar">
			<div class="rsc-footer">
				This webpage and its contents is copyright © {{.Copyright}} {{.Owner}}
				<br>To use our service you must agree to our <a class="rsc-link" href="/terms.template">Terms+Conditions</a> and <a class="rsc-link" href="/privacy.template">Privacy policy</a>
			</div>
		</footer>
	</div>
	</body>
</html>
{{ end }}
