{{define "header"}}
		<title>{{.Title}} by {{.Owner}}</title>
{{end}}
{{define "content"}}
		<div class="rsc-wrap">
			<img class="rsc-logo" src="/res/{{ .ToLower .Title }}.webp" alt="{{.Title}} logo">
			<p class="rsc-player-count">There are currently {{.OnlineCount}} people playing!</p>
			<section class="rsc-button-wheel">
				<a class="rsc-button rsc-play-button" href="/play.ws">Play Game</a>
				<a class="rsc-button rsc-stone-button" href="/manual.ws">Manual</a>
				<a class="rsc-button rsc-stone-button" href="/support.ws">Customer Support</a>
				<a class="rsc-button rsc-stone-button" href="/community.ws">Community</a>
				<a class="rsc-button rsc-stone-button" href="/support.ws">Message Centre</a>
				<a class="rsc-button rsc-stone-button" href="/news.ws">News &amp; Updates</a>
				<a class="rsc-button rsc-stone-button" href="/library.ws">Library of Varrock</a>
				<a class="rsc-button rsc-stone-button" href="/hiscores.html">Hiscores</a>
			</section>
		</div>
{{end}}
