{{define "header"}}
		<title>{{.Title}} by {{.Owner}}</title>
{{end}}
{{define "content"}}
		<div class="rsc-wrap">
			<img class="rsc-logo" src="/res/{{ .ToLower .Title }}.png" alt="{{.Title}} logo">
			<p class="rsc-player-count">There are currently {{.OnlineCount}} people playing!</p>
			<section class="rsc-button-wheel">
				<a class="rsc-button rsc-play-button" href="/play.html">Play Game</a>
				<a class="rsc-button rsc-stone-button" href="/manual.html">Manual</a>
				<a class="rsc-button rsc-stone-button" href="/support.html">Customer Support</a>
				<a class="rsc-button rsc-stone-button" href="/community.html">Community</a>
				<a class="rsc-button rsc-stone-button" href="/support.html">Message Centre</a>
				<a class="rsc-button rsc-stone-button" href="/news.html">News &amp; Updates</a>
				<a class="rsc-button rsc-stone-button" href="/library.html">Library of Varrock</a>
				<a class="rsc-button rsc-stone-button" href="/hiscores.html">Hiscores</a>
			</section>
		</div>
{{end}}
